<section>
  <h2>Create New Quote</h2>

  <form class="new-quote-form">
    <div>
      <label for="quote-text">Text</label>
      <input type="text" id="quote-text" name="quote-text" />
    </div>
    <div>
      <label for="quote-url">Link</label>
      <input id="quote-url" name="quote-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if quotes.length}}
<section>
  <h2>Your quotes</h2>
  <ol>
    {{#each quotes as |quote|}}
    <li>
      {{> quote-info quote}}
      <a href="/dashboard/edit/{{quote.id}}" class="edit-link">Edit quote</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-quote.js"></script>